
body {
	background-color: #a8b69f;
}

h1 {
	color: #b1b1b1;
	text-align: center;
}

.headTitle {
	text-align: center;
}

.headItem {
	display: inline-block;
}

p {
	color: white;
	font-family: verdana;
	font-size: 20px;
}

li {
	color: white;
	font-family: verdana;
	font-size: 18px;
}

.main {
	background-color: #313131;
	width: 100%;
}

.tabs {
	display: flex;
}

.tab {
	padding: 10px 20px;
	color: white;
	text-decoration: none;
}

.tab:hover {
	background-color: #050505;
}

.tab.active {
	background-color: #050505;
}

.front {
	display: flex;
	gap: 20%;
}

.box {
	width: 50%;
}

.box2 {
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.img2 {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.img3 {
	width: 100%;
	height: 100%;
	object-position: left;
}

.contactInfo {
	color: lightgreen;
}